@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

body{
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
h1{
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

  